---
layout: default
---

<style>
  div.biodata {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 10%;
  }
  
  .biodata img {
    object-fit: cover;
    border-radius: 5%;
  }

  div.publications {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-right: 10%;
  }
</style>

<!-- add a little vertical space  -->
<div style="height: 20px;"></div>

<div class="page">
  <div class = "biodata">
    <img src="../_images/_people/{{ page.img }}" alt="{{ page.title }}" width="20%" style="margin-right: 20px;">
    <div>
      <h2>{{ page.title }}</h2>
      <p><strong>Job Title:</strong> {{ page.job_title }}</p>
      <p><strong>Bio:</strong> {{ page.biodata }} </p>
    </div>
</div>

{{ content }}


{% assign filtered_publications = "" | split: "," %}
{% for item in site.publications %}
  {% if item.authors contains page.name and item.authors contains page.surname and item.pub_type != 'poster' %}
    {% assign filtered_publications = filtered_publications | push: item %}
  {% endif %}
{% endfor %}
{% assign publications = filtered_publications | sort: "year" | reverse %}

{% if publications.size > 0 %}

<h2>Publications available here [{{ publications | size }}] </h2>





{% endif %}
