---
layout: default
---

<div class="page">

  <h1 class="mt-4 publication-title">{{ page.title }}</h1>

    {% if page.noimg %}
    <div class="publication-teaser">
    </div>
    {% else if page.header.teaser %}
      <div class="publication-teaser">
        <img src="{{ page.header.teaser }}" alt="project teaser"/>
    {% else %}
    <div class="publication-teaser">
      <img src="/_images/pub_images/{{ page.slug }}.jpg" alt="project teaser"/>
    </div>
    {% endif %}

  {{ content }}

  <h2 id="downloads">External links</h2>
  <p>
    {% if page.Project_website %}
    <a href="{{ page.Project_website }}"><i class="fa fa-globe"></i> Website</a>&nbsp;&nbsp;
    {% endif %}
  </p>
</div>


